JgDienstScannerMaschine/Connected Services/ServiceRef/WcfService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58115/WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JgWcfServiceLib" />
  <xs:import schemaLocation="http://localhost:58115/WcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="WcfTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WcfTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WcfTestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendeBauteil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JgWcfServiceLib" minOccurs="0" name="Bauteil" nillable="true" type="q1:JgWcfBauteil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendeBauteilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendeBauteilResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendeMeldung">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JgWcfServiceLib" minOccurs="0" name="Meldung" nillable="true" type="q2:JgWcfMeldung" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendeMeldungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendeMeldungResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBediener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBedienerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JgWcfServiceLib" minOccurs="0" name="GetBedienerResult" nillable="true" type="q3:ArrayOfJgWcfBediener" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaschinen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdStandort" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaschinenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JgWcfServiceLib" minOccurs="0" name="GetMaschinenResult" nillable="true" type="q5:ArrayOfJgWcfMaschine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendeMaschinenStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JgWcfServiceLib" minOccurs="0" name="Maschine" nillable="true" type="q6:JgWcfMaschine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendeMaschinenStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendeMaschinenStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>